.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton";
  font-weight: 400;
  font-style: normal;
}

body{
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}

.home{
    position: sticky;
    top: 0;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}

.title{
    font-family: Chewy;
    font-size: 8vmin;
    position: absolute;
    top: -2.5%;
    left: 4%;
    color: white;
    font-weight: normal;
    cursor: pointer;
}

.title2{
    font-family: Anton;
    font-size: 4vmin;
    position: absolute;
    top: 10.5%;
    left: 7%;
    color: white;
    font-weight: normal;
    cursor: pointer;
}

.iconlist{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: 5%;
    right: 2%;
    padding-right: 0;
    margin-right: 0;
}

.icon{
    height: 10vmin;
    animation: glow 1s linear infinite;
    transition: transform 0.5s ease-out;
}

@keyframes glow {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }    
}

li{
    width: 100%;
    padding: 10%;
}
li:hover{
    background-color: #de1b40;
}

@keyframes appear{
    0%{
        max-height: 0;
        border-right: hsl(0, 72%, 44%) solid 0px;
        border-bottom: hsl(0, 72%, 44%) solid 0px;
    }
    100%{
        max-height: 50vh;
        border-right: hsl(0, 72%, 44%) solid 3px;
        border-bottom: hsl(0, 72%, 44%) solid 4px;
    }
}

.icon:hover,
.icon:hover {
    animation-play-state: paused;
}

.ga{
    position: absolute;
    display: block;
    border: 4px solid;
    border-color: #ff9d50;
    border-radius: 5%;
    width: 15%;
    height: 50%;
    text-align: center;
    align-items: center;
    color: #ffffff;
    font-family: Chewy;
    font-size: 6vmin;
    background-color: #ee155e;
    padding: 5%;
    bottom: 7%;
    right: 52%;
}

.mode1{
    position: relative;
    left: -7%;
    border: 3px solid;
    border-color: #ff9d50;
    border-radius: 5%;
}

.tou{
    position: absolute;
    display: block;
    border: 4px solid;
    border-color: #ff9d50;
    border-radius: 5%;
    width: 15%;
    height: 50%;
    text-align: center;
    align-items: center;
    color: #ffffff;
    font-family: Chewy;
    font-size: 6vmin;
    background-color: #ee155e;
    padding: 5%;
    bottom: 7%;
    left: 52%;
}

.mode2{
    position: relative;
    right: 7%;
    border: 3px solid;
    border-color: #ff9d50;
    border-radius: 5%
}

.modes div:hover{
    transform:
    scale(1.02);
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.356);
    cursor: pointer;
}