.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton";
  font-weight: 400;
  font-style: normal;
}

body{
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}

.home{
    position: sticky;
    top: 0;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}

.bored{
    font-family: Chewy;
    font-size: 15vmin;
    color: white;
    font-weight: normal;
    position: absolute;
    bottom: 47%;

}

.lets{
    font-family: Chewy;
    font-size: 15vmin;
    color: white;
    font-weight: normal;
}

.title{
    font-family: Chewy;
    font-size: 8vmin;
    position: absolute;
    top: 0.01%;
    left: 4%;
    color: white;
    font-weight: normal;
}

.play{
    text-decoration: none;
    font-size: 14vmin;
    font-family: Anton;
    font-weight: normal;
    padding-right: 2%;
    padding-left: 2%;
    text-align: center;
    border-radius: 20%;
    color: #de1b40;
    background-color: white;
    margin-left: 2%;
    transition:
    transform 0.3s cubic-bezier(.2, 1.4, .4, 1),
    box-shadow 0.3s ease;
}


.play:hover{
    transform:
    scale(1.05) translateY(-3px) rotate(1deg);
    cursor: pointer;
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.12);

}

.description{
    color: white;
    font-size: 4vmin;
    font-family: Anton;
    position: absolute;
    bottom: 25%;
}

.scrollable{
    position: relative;
    width: 100%;
    min-height: 85vh;
    z-index: 2;
    background: white;
}

.clouds{
    position: absolute;
    width: 110%;
    height: auto;
    bottom: 100%;
    margin-left: -5%;
}

.iconlist{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: 5%;
    right: 2%;
    padding-right: 0;
    margin-right: 0;
}

.icon{
    height: 10vmin;
    animation: glow 1s linear infinite;
    transition: transform 0.5s ease-out;
}

@keyframes glow {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }    
}

.dropdown{
    list-style-type: none;
    color: white;
    font-size: 3vmin;
    font-family: Anton;
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin: 0;
    background-color: hsla(0, 0%, 100%, 20%);
    box-sizing: border-box;
    border-radius: 10%;
    padding: 0;
    width: 120%;
    overflow: hidden;
    max-height: 0;
    border-right: hsl(0, 72%, 44%) solid 0px;
    border-bottom: hsl(0, 72%, 44%) solid 0px;
}
li{
    width: 100%;
    padding: 10%;
}
li:hover{
    background-color: #de1b40;
    cursor: pointer;
}

@keyframes appear{
    0%{
        max-height: 0;
        border-right: hsl(0, 72%, 44%) solid 0px;
        border-bottom: hsl(0, 72%, 44%) solid 0px;
    }
    100%{
        max-height: 50vh;
        border-right: hsl(0, 72%, 44%) solid 3px;
        border-bottom: hsl(0, 72%, 44%) solid 4px;
    }
}

.icon:hover,
.icon:hover + .dropdown,
.dropdown:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.icon:hover + .dropdown, .dropdown:hover{
    animation: appear 1s ease-out forwards; 
}


.icon:hover{
    cursor: pointer;
}