.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton";
  font-weight: 400;
  font-style: normal;
}

body{
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}

.home{
    position: sticky;
    top: 0;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}

.bored{
    font-family: Chewy;
    font-size: 15vmin;
    color: white;
    font-weight: normal;
    position: absolute;
    bottom: 47%;

}

.lets{
    font-family: Chewy;
    font-size: 15vmin;
    color: white;
    font-weight: normal;
}

.title{
    font-family: Chewy;
    font-size: 8vmin;
    position: absolute;
    top: 0.01%;
    left: 4%;
    color: white;
    font-weight: normal;
}

.play{
    text-decoration: none;
    font-size: 14vmin;
    font-family: Anton;
    font-weight: normal;
    padding-right: 2%;
    padding-left: 2%;
    text-align: center;
    border-radius: 20%;
    color: #de1b40;
    background-color: white;
    margin-left: 2%;
    transition:
    transform 0.3s cubic-bezier(.2, 1.4, .4, 1),
    box-shadow 0.3s ease;
}


.play:hover{
    transform:
    scale(1.05) translateY(-3px) rotate(1deg);
    cursor: pointer;
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.12);

}

.description{
    color: white;
    font-size: 4vmin;
    font-family: Anton;
    position: absolute;
    bottom: 25%;
}

.scrollable{
    position: relative;
    width: 100%;
    min-height: 85vh;
    z-index: 2;
    background: white;
}

.clouds{
    position: absolute;
    width: 110%;
    height: auto;
    bottom: 100%;
    margin-left: -5%;
}

.about{
    position: relative;
    width: 100%;
    height: 100%;
    color: #ff9d50;
    font-family: Chewy;
    font-size: 6vmin;
    margin-left: 2%;
    animation: slidetotheleft 0.3s forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

@keyframes slidetotheleft  {
    0%{
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(0px);
    }
}

.features {
    position: relative;
    width: 100vw;
    height: 70vh;
    color: #de1b40;
    font-family: Anton;
    font-size: 4vmin;
    margin-left: 2%;
}

.features h3{
    animation: pop 1s forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.feature1 {
    position: absolute;
    top: -15%;
    left: 5%;
    transform: rotate(-3deg);
}

@keyframes pop {
    0%{
        opacity: 0;
        transform: scale(0.7) translateY(30px);
    }
    100%{
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.feature2 {
    position: absolute;
    top: 0%;
    left: 60%;
    transform: rotate(5deg);
}

.feature3 {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: rotate(0deg);
}

.feature4 {
    position: relative;
    top: 30%;
    left: 50%;
    transform: rotate(3deg);
}

.images img{
    width: 25vmin;
    border-radius: 5%;
}

.image1{
    position: absolute;
    bottom: 25%;
    left: 5%;
    transform: rotate(-10deg);
}

.image2{
    position: absolute;
    bottom: 5%;
    left: 25%;
    transform: rotate(5deg);
}

.image3{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: rotate(13deg);
}

.image4{
    position: absolute;
    bottom: 10%;
    left: 75%;
    transform: rotate(-2deg);
}

.images img:hover{
    transform:
    scale(1.05) translateY(-3px) rotate(1deg);
}

.scrollable2{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.settings{
    position: relative;
    color: #ff9d50;
    font-family: Chewy;
    font-size: 6vmin;
    margin-left: 2%;
}

.options{
    position: relative;
    height: 70vh;
    color: #de1b40;
    font-family: Anton;
    font-size: 4vmin;
    margin-left: 20%;
}
.options h3{
    margin: 10%;
}

.music_sl{
    position: absolute;
    appearance: none;
    width: 200px;
    height: 8px;
    bottom: 94%;
    left: 25%;
    background: transparent;
    cursor: pointer;
}

.music_sl::-webkit-slider-runnable-track{
    background: #ff9d50;
    height: 100%;
    border-radius: 4px;
}
.music_sl::-webkit-slider-thumb{
    appearance: none;
    background: #ff9d50;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-top: -2%;
}

.music_sl::-webkit-slider-thumb:hover{
    width: 20px;
    height: 20px;
}

.sound_sl{
    position: absolute;
    appearance: none;
    width: 200px;
    height: 8px;
    bottom: 60%;
    left: 25%;
    background: transparent;
    cursor: pointer;
}

.sound_sl::-webkit-slider-runnable-track{
    background: #ff9d50;
    height: 100%;
    border-radius: 4px;
}

.sound_sl::-webkit-slider-thumb{
    appearance: none;
    background: #ff9d50;
    width: 16px;
    height: 16px;
    border-radius:50%;
    margin-top: -2%;
}

.sound_sl::-webkit-slider-thumb:hover{
    width: 20px;
    height: 20px;
}

.iconlist{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: 5%;
    right: 2%;
    padding-right: 0;
    margin-right: 0;
}

.icon{
    height: 10vmin;
    animation: glow 1s linear infinite;
    transition: transform 0.5s ease-out;
}

@keyframes glow {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }    
}

.dropdown{
    list-style-type: none;
    color: white;
    font-size: 3vmin;
    font-family: Anton;
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin: 0;
    background-color: hsla(0, 0%, 100%, 20%);
    box-sizing: border-box;
    border-radius: 10%;
    padding: 0;
    width: 120%;
    overflow: hidden;
    max-height: 0;
    border-right: hsl(0, 72%, 44%) solid 0px;
    border-bottom: hsl(0, 72%, 44%) solid 0px;
}
.dropdownitem{
    width: 100%;
    padding: 10%;
}
.dropdownitem:hover{
    background-color: #de1b40;
    cursor: pointer;
}

@keyframes appear{
    0%{
        max-height: 0;
        border-right: hsl(0, 72%, 44%) solid 0px;
        border-bottom: hsl(0, 72%, 44%) solid 0px;
    }
    100%{
        max-height: 50vh;
        border-right: hsl(0, 72%, 44%) solid 3px;
        border-bottom: hsl(0, 72%, 44%) solid 4px;
    }
}

.icon:hover,
.icon:hover + .dropdown,
.dropdown:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.icon:hover + .dropdown, .dropdown:hover{
    animation: appear 1s ease-out forwards; 
}


.icon:hover{
    cursor: pointer;
}
a, a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}